.content{
    height: 500px;
    width: 90%;
    max-width: 470px;
    background: rgba(255, 255, 255, .5);
    color: #000;
    margin: 100px ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.heading{
    padding:20px;
    color: rgba(45, 9, 248, 0.964);
    text-decoration: underline;

}
p{
    font-size: 30px;
    padding: 30px ;
    color: rgba(24, 206, 157, 0.981);
}
h2{
    font-size: 28px;
    color: rgb(230, 64, 169);
    padding: 15px ;
}